@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.head {
  text-align: center;
  margin-top: 100px;
}
.head h3 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
}
.create-btn{
  margin-top: 10px;
  text-align: center;
}
.create-btn button {
  height: 35px;
  width: 400px;
  border: 2px solid;
  background-color: transparent;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
}
.create-btn button:hover{
  background-color: black !important;
  color: white;
}

.input-main {
  display: flex;
  justify-content: center;
}
.data-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data-div {
  margin-top: 20px;
  width: 400px;
}
.data-div div {
  height: auto;
  background-color: #eeeeee;
  margin-bottom: 10px;
}
.data-div p {
  margin-top: 12px;
  margin-left: 5px;
}
.data-div button {
  height: 25px;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.makeStyles-paper-1{
  max-width: 400px !important;
  border: none !important;
}
@media (max-width: 440px) {
  .create-btn button {
    width: 300px;
  }
  .data-div {
    width: 300px;
  }
}